body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  background-image: url("./assets/images/background.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Blinker", sans-serif;
}